html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(244, 240, 235);
  color: #111111;
}

:root {
  --black: #111111;
  --white: #ffffff;
  --purple: #a66bff;
  --dark-purple: #8b4fe0;
  --light-purple: #c9a6ff;
  --light-gray: #f2f2f2;
}

/* NAV */
.navbar {
  background-color: var(--black) !important;  /* bye bye bootstrap */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.navbar .nav-link {
  color: var(--white);
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: var(--purple);
}

/* INTRO */
.hero-section {
  background: linear-gradient(125deg, var(--black), var(--dark-purple));
  color: var(--white);
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.hero-section h1 {
  font-weight:700;
}

.hero-section p {
  max-width: 480px;
  margin: 1rem auto 0;
}

/* CUSTOM BUTTONS */
.btn-purple {
  background-color: var(--purple);
  color: var(--white);
  font-weight: 300;
  border-radius: 900px;
  padding-inline: 2rem;
}

.btn-purple:hover {
  background-color: var(--purple-dark);
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

/* SECTIONS */
section h2 {
  font-weight: 600;
  margin-bottom: 0.75;
  color: var(--black);
}

/* INFO CARDS */
.card {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
}

.card h4 {
  color: var(--dark-purple);
  margin-bottom: auto;
}

.card:hover {
  border-color: var(--purple);
  transform: translateY(-4px);
}

/* CONTACT */
#contact li {
  margin-bottom: 0.3rem;
}

/* FOOTER */

footer {
  background-color: var(--black);
  color: var(--white);
  font-size: 0.95rem;
  text-align: center;
}

/* RESPONSIVE SHTUFF */
@media (max-width: 576px) {
  .hero-section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p.lead {
    font-size: 1rem;
  }
}

/* MENU */
#goody {
  text-align: center;
}

#goody::placeholder {
  text-align: center;
}

#idea {
  text-align: center;
}

#idea::placeholder {
  text-align: center;
}

.form-card {
  background-color: var(--light-purple);
  padding: 70px;
  max-width: 600px;
  margin: 40px auto;
  border-width: 100px;
  border-radius: 30px;
}

#specials-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%
}

/* GALLERY */
.gallery-img {
  width: 100%;
  height: 220px;
  object-fit:cover;
}